body {
  font-family: sans-serif;
  margin: 20px;
}

h1,h2,h3,h4,h5,h6 {margin: 0}

.events-title {
  margin: 20px 0;
}
.events ul {
  padding: 0;
}

.events li {
  margin: 0;
  list-style-type: none;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #eee;
}
